$fuente_principal : "Montserrat", serif;
//colores
$negro : #000;
$verde: #82e6e1;
$rosa : #ec566f;
$amarillo : #96f58d;
$morado : #752F97;
$blanco : #FFF;

// medidas de dispositivos
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;