@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.contenedor-boletos{
    background-color: v.$verde;
    h3{
        color: v.$blanco;
    }
    .boletos{
        @include m.contenedor;
        @include m.tablet{
            @include m.grid(2)
        }
    }
}



.pase {
    transition: transform .3s ease-in-out;
    &:hover{
        transform: scale(1.1);
    }
    &-nombre{
        font-size: 3.6rem;
        font-weight: 900;
        text-align: center;
        color: v.$blanco;
    }
    &-header,
    &-footer{
        padding: .5rem;

        p{
            text-align: center;
            color: v.$blanco;
            margin: 0;
        }
        // span{
        //     font-size: 2rem;
        //     text-align: center;
        //     padding: 2rem;
        // }
    }
    &-header{
        background-color: v.$rosa;
        text-transform: uppercase;
        font-size: 2.2rem;
        padding: 1rem 0;
    }
    &-body{
        background-color: v.$blanco;
        .icon {
        display: flex;
    }
    }
    .mapa {
        display: flex;
        padding: 2rem;
        padding-bottom: 0;
    
    }
    
    &-footer{
        background-color: v.$blanco;
        padding: 3rem;

        p{
            margin-bottom: 20px;
            font-size: 2rem;
            font-weight: 900;
            background-color: v.$morado;
            padding: 1rem 0;
            border-radius: 1rem;
            cursor: pointer;
            &:hover{
                background-color: color.adjust(v.$morado, $lightness: -20%);
            }
        }
    }


}

.social-media-header {
    background-color: v.$blanco;
    padding: 15px 20px;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
}
.social-media-icons {
        color: v.$negro;

    display: grid;
    /* Crea una cuadrícula de 2 columnas de igual ancho */
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; /* Espacio entre los elementos de la cuadrícula */
    padding: 20px;
    /* Centra los ítems de la cuadrícula horizontal y verticalmente */
    justify-items: center;
    align-items: center;
}